* {
    padding: 0;
    margin: 0;

	/* variables */
	--fondo: #293133;
	--naranjita: #d86f55;
	--blanco: #F8F7EF;
}

body {
    background-color: var(--fondo);
}

/* navbar */

header {
	background-color: var(--naranjita);
	height: 50px;
}

header .container-logo img {
  height: 30px;
	float: left;
	margin-top: 10px;
	margin-left: 15px;
	border-radius: 15px;
}

header .container-nav {
	position: fixed;
	top: 90px;
	left: 200%;
	transition: all .8s;
	z-index: 3;
}

header .container-nav ul {
	display: flex;
	flex-direction: column;
	padding-top: 90px;
	margin-right: 25px;
	background-color: var(--naranjita);

	position: fixed;
	top: 0px;
	width: 100%;
	height: 100vh;
	z-index: 1;
}

header .container-nav ul li {
	list-style: none;
	line-height: 90px;
	text-align: center;
}

header .container-nav ul li a {
	text-decoration: none;
	padding: 20px;
	color: black;
}

header .container-nav ul li a.active, header .container-nav ul li a:hover {
	color: var(--blanco);
}

header #check {
	display: none;
}

header .checkbtn {
	float: right;
	color: black;
	padding: 0 20px;
	line-height: 50px;
	font-size: 30px;
}

#check:checked ~ .container-nav {
	left: 0;
}

#check:checked ~ .checkbtn {
	position: fixed;
	right: 0;
	z-index: 5;
}

/* navbar */

/* section */

	/* foto */

section .container-foto .div-foto {
	background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0,.5)),url(./img/fondo-div.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-attachment: fixed;
	width: 100%;
	height: 300px;
	color: var(--blanco);
}

section .container-foto .div-foto .fotito {
	width: 100%;
	height: 300px;
	display: flex;
	justify-content: center;
	align-items: center;
}

section .container-foto .div-foto .fotito h2 {
	font-size: 30px;
}

/* general */

section .container-general {
	color: white;
}

section .container-general h2 {
	text-align: center;
	margin: 20px 0 10px 0;
	color: var(--naranjita);
}

section .container-general h3 {
	text-align: center;
}

section .container-general .div-general .pelis {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 40px 0;
	perspective: 1000px;
}

section .container-general .div-general .pelis .peli-img {
	width: 150px;
	margin: 15px 0;
	transition: all .5 ease-in;
}

section .container-general .div-general .pelis .peli-ani1 {
	animation-name: giros;
	animation-duration: 15s;
	animation-direction: normal;
	animation-delay: 2s;
	animation-iteration-count: infinite;
}

@keyframes giros {
	0% { transform: rotateY(0);}
	22% { transform: rotateY(55deg);}
	23% { transform: rotateY(55deg);}
	45% { transform: rotateY(0);}

	46% { transform: rotateY(0);}
	56%{ transform: rotateY(0);}

	57% { transform: rotateY(0);}
	77% { transform: rotateY(-55deg);}
	78% { transform: rotateY(-55deg);}
	100% { transform: rotateY(0);}
}

section .container-general .div-general .pelis .peli-ani2 {
	animation-name: giros2;
	animation-duration: 15s;
	animation-direction: normal;
	animation-delay: 2s;
	animation-iteration-count: infinite;
}

@keyframes giros2 {
	0% { transform: rotateX(0);}
	22% { transform: rotateX(-35deg);}
	23% { transform: rotateX(-35deg);}
	45% { transform: rotateX(0);}

	
	46% { transform: rotateX(0);}
	56%{ transform: rotateX(0);}
	
	57% { transform: rotateX(0);}
	77% { transform: rotateX(35deg);}
	78% { transform: rotateX(35deg);}
	100% { transform: rotateX(0);}
}

@media (min-width: 800px) {

	/* Navbar */

	section .container-general .div-general .pelis {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: 80px 0;
		perspective: 1000px;
	}
	
	section .container-general .div-general .pelis .peli-img {
		width: 400px;
		margin: 55px 0;
		transition: all .5 ease-in;
	}

	header {
		display: flex;
		justify-content: space-between;
	}

	header .container-nav {
		height: 50px;
		position: static;
	}
	
	header .container-nav ul {
		display: flex;
		flex-direction: row;
		align-items: center;

		padding-top: 0px;
		margin-right: 0px;
		background-color: var(--naranjita);

		position: static;
		width: 100%;
		height: 100%;
	}
	
	header .container-nav ul li {
		margin: 0 25px;
		list-style: none;
		line-height: 0px;
		text-align: none;
	}
	
	header .container-nav ul li a {
		color: black;
		padding: 0px;
	}
	
	header .container-nav ul li a.active, header .container-nav ul li a:hover {
		color: var(--blanco);
	}
	
	header #check {
		display: none;
	}
	
	header .checkbtn {
		display: none;
	}

	/* general */

	section .container-general .div-general .pelis .peli-img {
		width: 400px;
		margin: 15px 0;
		transition: all .5 ease-in;
	}
}